html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 40px;
}

header {
    height: 70px;
}

footer {
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000E60;
}

footer a {
    text-align: center;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 5px;
}

h3 {
    font-size: 1.75em;
    font-family: 'Lato', sans-serif;
}

ul {
	padding: 0;
	font-family: 'Lato', sans-serif;
}
ul > li {
	list-style: none;
	display: block;
	font-family: 'Lato', sans-serif;
}

a {
    color: white;
}

a:hover {
    color: #AC0B08!important;
}

a:visited {
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
}

button {
    background-color:  #B2201A;
    color:  white;
}

.main_content {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #e3e4e5;
}

.head {
    background-color: #000E60;
    padding-top: 5px;
}

.timer {
    width: 0px;
    margin: 0 auto 50px auto;
    font-size: 1.75em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    position: relative;
    top: 10px;
}

.timer::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25px;
    top: 8px;
    background-image: url('Clock_grey.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.filters {
    margin-top: 200px;
}

.question_text {
    line-height: 1.5;
    vertical-align: middle;
    margin-top: 25%;
}

.filter {
    cursor: pointer;
    margin-right: -400px;
    transition: margin-right 200ms;
}

.filter:hover {
    color: #AC0B08;
}

.sidebar {
    top: 28px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.sidebar_right {
    right: 0;
}

.desktop_controls {
    font-size: 1.5em;
}

.top80 {
    margin-top: 80px;
}

.bottom80 {
    margin-bottom: 80px;
}

.top30 {
	margin-top: 30px;
}

.category {
	margin-bottom: 10px;
}

.title1 {
    margin-left: 2.5%;
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    color: white;
}

.title2 {
    margin-left: 2.5%;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #B8BFE3;
    line-height: 0.2;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.sidebar p {
    color: white;
}

.mobile_nav {
    margin-top: 40px;
    font-weight: bold;
}
